
body {
    background-color: rgb(165, 165, 165);
    /* The above is called a hex code.
       There are two other ways to do colors in CSS: rgb and common names */
    color: white;
    font-size: 22px;
    font-family: "Avenir Next",sans-serif;
  }
img{
   max-width: 50%;
}
