/* reset styles */
* {
    margin: 0px;
    padding: 0px;
}

/* make the background of the page black */
body {
    background: black;
}

/* flag canvas */

#canvas {
    background-color: #F40002;
    width: 360px;
    height: 216px;
    margin: 50px
}

#star1 {
    transform: scale(.30, .30);
    position: relative;
    top: 20px;
    left: -90px;
}

#star2 {
    transform: scale(.10, .10);
    position: relative;
    top: -120px;
    left: -63px;
}

#star3 {
    transform: scale(.10, .10);
    position: relative;
    top: -210px;
    left: -60px;
}

#star4 {
    transform: scale(.10, .10);
    position: relative;
    top: -305px;
    left: -70px;
}

#star5 {
    transform: scale(.10, .10);
    position: relative;
    top: -500px;
    left: -85px;
}

.star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: yellow;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

.star:before {
    border-bottom: 80px solid yellow;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star:after {
    position: absolute;
    display: block;
    color: yellow;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid yellow;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}