body {
    background-color: rgb(34, 6, 6)
}


a {
    color: rgba(79, 172, 209, 0.562);
}

a:hover {
    color: pink;
}


.inner-shape {
    width: 100px;
    height: 100px;
    background: #ffd06bce;

}

.outer-shape {
    width: 600px;
    height: 600px;
    background: rgb(115, 149, 201);
}

.outer-shape:hover {
    background: pink;
}

.outer-shape:hover>.inner-shape {
    background: red;
}

div:hover~div {
    background: orange;
}

.outer-shap:hover .outer-shape:nth-child(even) {
    background: orange;
}