body {
    background-color: rgb(228, 140, 140);
}


h1 {
    font-size: 150px;
    text-align: center;
    font-family: GB18030Bitmap;
    font-style: regular;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -70px;
}


.container1 {
    position: relative;
    /* top: 100%;
    left: 25%; */
    margin: auto;
    width: 700px;
    background-color: rgba(80, 24, 24, 0.62);
    padding: 10px;
    font-family: factoria, serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(241, 220, 191);
    text-align: center;
    letter-spacing: 0.5px;
}

/* .text {
    position: relative;
    top: -130px;
    left: 50px;
    font-family: factoria, serif;
    font-style: normal;
    font-weight: 200;
} */

.big {
    width: 100%;

}

.imgcontainer {
    margin: 0 auto;
    max-width: 35%;
}

.grid-item {
    /* background-color: lightblue; */
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 180px 180px 180px 180px;
    grid-gap: 40px 40px;
    width: 50%;
    margin: 0 auto;
}

.grid-container div {
    text-align: center;
}

.screens {
    max-height: 100%;
    position: relative;
}

.bg-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: #e2e2e215; */

    /* background-image: url("../uuu\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay; */
    opacity: 0.5;
}

.spinningIMG {
    animation: rotation 100s infinite linear;
}

@keyframes rotation {
    0% {
        -webkit-transform: scale(3) rotate(0deg);
    }

    100% {
        -webkit-transform: scale(3) rotate(359deg);
    }
}

/* @keyframes mymove {
    0% {
        background-color: rgba(221, 198, 67, 0.26);
    }

    50% {
        background-color: rgb(27, 12, 41);
    }

    100% {
        background-color: rgba(221, 198, 67, 0.26);
    }
} */

.img-box {
    width: 140px;
    height: 110px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -70px;
    /* background-color: blue; */
    /* background-image: url("../888/1.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;

}

.posR {
    position: relative;
    cursor: pointer;
}

.grid-item:hover .gridIMG0 {

    background-image: url("../888/1.jpg");

}

.grid-item1:hover .gridIMG1 {
    background-image: url("../888/2.jpg");

}

.grid-item2:hover .gridIMG2 {
    background-image: url("../888/3.jpg");

}

.grid-item3:hover .gridIMG3 {
    background-image: url("../888/4.jpg");

}

.grid-item4:hover .gridIMG4 {
    background-image: url("../888/5.png");

}

.grid-item5:hover .gridIMG5 {
    background-image: url("../888/6.jpg");

}

.grid-item6:hover .gridIMG6 {
    background-image: url("../888/7.jpg");

}

.grid-item7:hover .gridIMG7 {
    background-image: url("../888/8.jpeg");

}

.grid-item8:hover .gridIMG8 {
    background-image: url("../888/9.jpg");

}

.grid-item9:hover .gridIMG9 {
    background-image: url("../888/10.jpg");

}

.grid-item10:hover .gridIMG10 {
    background-image: url("../888/11.jpg");

}

.grid-item11:hover .gridIMG11 {
    background-image: url("../888/12.jpg");

}

/* .screen1 {
    width: 50px;
    height: 45px;
    background-color: blue;
} */

.textcontainer2 {
    padding: 5em;
    padding-right: 55vw;
    line-height: 1.8em;
    letter-spacing: .01em;
    position: relative;
    font-family: factoria, serif;
    font-style: small;
    font-weight: 100;
    font-size: 0.9em;
}

.Game {
    position: fixed;
    left: -600px;
    top: 0px;
    background: rgba(80, 24, 24, 0.62);
    color: rgb(241, 220, 191);
    width: 23vw;
    height: 100vh;
    overflow: scroll;
    transition: 200ms linear all;
    font-family: factoria, serif;
    font-style: normal;
    font-size: 0.9em;
    opacity: 0;
    letter-spacing: 0.5px;
}

.Description {
    padding: 2em;
    width: 18vw;
    height: 80vh;
    position: absolute;
    left: -300px;
    top: 0;
    transition: 400ms linear all;
}



.appear {
    left: 0;
    opacity: 1;
}