body {
    background-color: rgb(218, 115, 115);
}


h1 {
    font-size: 150px;
    text-align: center;
    font-family: GB18030Bitmap;
    font-style: regular;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -70px;
}

.container1 {
    position: fixed;
    top: 10%;
    left: 1%;
    width: 270px;
    background-color: #504E46;
    padding: 10px;
    font-family: factoria, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #C3A1A1;
}

.text {
    position: relative;
    top: -130px;
    left: 50px;
    font-family: factoria, serif;
    font-style: normal;
    font-weight: 200;
}

.big {
    width: 100%;

}

.imgcontainer {
    margin: 0 auto;
    max-width: 35%;
}

.grid-item {
    /* background-color: lightblue; */
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 180px 180px 180px 180px;
    grid-gap: 40px 40px;
    width: 50%;
    margin: 0 auto;
}

.screens {
    max-height: 100%;
}

.bg-img {
    position: relative;
    background-color: #e2e2e215;
    animation: mymove 5s infinite;
    background-image: url("../uuu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

@keyframes mymove {
    0% {
        background-color: rgba(221, 198, 67, 0.26);
    }

    50% {
        background-color: rgb(27, 12, 41);
    }

    100% {
        background-color: rgba(221, 198, 67, 0.26);
    }
}