body {
   background-color: rgb(165, 165, 165);
   /* The above is called a hex code.
       There are two other ways to do colors in CSS: rgb and common names */
   color: white;
   font-size: 22px;
   font-family: "Futura", sans-serif;
}

img {
   max-width: 30%;
}


.container {
   max-width: 650px;
   /* I put "max-width" rather than "width" because
      if the screen width is less than 650px, it will shrink accordingly. */
}

h4 {
   font-weight: 500;
}

#toc {
   position: fixed;
   top: 10em;
   right: 1em;
   background-color: rgb(155, 138, 139);
   padding: 10px;
}

#toctitle {
   font-size: 0.8em;
}

#toclist {
   font-size: 0.6em;
}