body {
    padding: o;
    margin: 0;
}

a {
    position: relative;
    top: 250px;
    left: 670px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 75%;
    color: #bbb;
}

a:hover {
    color: pink;
}

#container {
    position: relative;
    /* border: 1px solid white; */
    top: 270px;
    left: 525px;
    width: 350px;
    height: 274px;
    background-color: rgb(29, 33, 58);
    animation: mymove2 5s infinite;
}

.dot {
    position: relative;
    left: 100px;
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#bg {
    position: inline;
    background-color: rgb(29, 33, 58);
    height: 100vh;
    animation: mymove2 5s infinite;
}


#bg-img {
    background-image: url("../4.jpg");
    height: 100vh;
    position: inline;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    animation: mymove2 5s infinite;
}

#main {
    width: 350px;
    height: 100px;
    display: flex;
}

#main div:nth-of-type(1) {
    flex-grow: 1;
}

#main div:nth-of-type(2) {
    flex-grow: 1;
}

#main div:nth-of-type(3) {
    flex-grow: 1;
}

#myBlueDiv {
    -webkit-animation: mymove 5s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

#myBlueDiv1 {
    -webkit-animation: mymove2 5s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove2 5s infinite;
}

/* Chrome, Safari, Opera */
/* @-webkit-keyframes mymove {
    50% {
        flex-grow: 8;
    }
} */

/* Standard syntax */
@keyframes mymove {
    50% {
        flex-grow: 0.2;
    }
}

@keyframes mymove2 {
    0% {
        background-color: rgba(255, 187, 124, 0.753);
    }

    50% {
        flex-grow: 10;
        background-color: rgb(34, 6, 8);
    }

    100% {
        background-color: rgba(255, 187, 124, 0.753);
    }

}



#main2 {
    display: inline;
    width: 350px;
    height: 100px;
    display: flex;
}

#main2 div:nth-of-type(1) {
    flex-grow: 8;
}

#main2 div:nth-of-type(2) {
    flex-grow: 1.2;
}

#main2 div:nth-of-type(3) {
    flex-grow: 8;
}





#dotdotdot {
    display: inline;
    position: absolute;
    top: 200px;
}







#main3 {
    display: inline;
    width: 350px;
    height: 30px;
    display: flex;
}

#main3 div:nth-of-type(1) {
    flex-grow: 1;
}

#main3 div:nth-of-type(2) {
    flex-grow: 1;
}

#main3 div:nth-of-type(3) {
    flex-grow: 1;
}


#dotdot {
    display: inline;
    position: absolute;
    top: 2px;
}

#brown {
    z-index: 9;
    animation: mymove2 5s infinite;

}

#brown2 {
    z-index: 9;
    animation: mymove2 5s infinite;
}

#brown3 {
    z-index: 9;
    animation: mymove2 5s infinite;
}

#brown4 {
    z-index: 9;
    animation: mymove2 5s infinite;
}